.buy-ticket-background-img {
  position: absolute;
  background-image: url("./assets/images/malazgirt-1071.png");
  width: inherit;
  height: 100%;
  z-index: 0;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  backdrop-filter: blur(10px);
  margin: 0;
  padding: 0;
}

.movie-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#ed2793, #ed279333);
}

.buy-ticket-img {
  position: relative;
}

.buy__ticket-header{
  display: flex;
  border-bottom: 1px solid black;
  justify-content: end;  
  padding: 10px 0;
}

.return__home-btn {
  background: transparent;
  border: none;
  box-shadow: none;
  float: right;
  font-size: 20px;
  font-weight: bold;
  margin-right: 1rem;
}
