.navbar {
  border-bottom: 1px solid #dedede;
}

.right-line {
  border-right: 1px solid #dedede;
  padding-right: 0.5rem;
}

.no-arrow::after {
  content: none !important;
}

.left-line {
  border-left: 1px solid #dedede;
  padding-left: 0.5rem;
}

.nav-item {
  padding-left: 0.5rem;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-link {
  font-size: 18px;
}

.nav-link:hover {
  font-weight: bold;
}

.auth-btn {
  border: none;
  border-radius: 8px;
  margin-right: 1rem;
  box-shadow: 0px 10px 15px #dedede;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
}

.btn-sign-up {
  background-color: #ed2793;
  color: white;
}

.btn-sign-in {
  background-color: white;
  color: #ed2793;
}

.tabs {
  display: flex;
  margin-top: 3rem;
  border-bottom: 1px solid #dedede;
  padding-bottom: 3rem;
}
.tab-title {
  font-size: 24px;
  color: #dedede;
  margin-right: 1rem;
  cursor: pointer;
}

.active-tab {
  color: black;
  padding-bottom: 5px;
  border-bottom: 3px solid #ed2793;
  position: relative;
}

.active-tab:before {
  content: "";
  position: absolute;
  left: 40%;
  bottom: -12px;
  border-style: solid;
  border-width: 12px 12px 0px 12px;
  border-color: #ed2793 transparent #ed2793 transparent;
}

.sort-param {
  font-size: 18px;
  color: #dedede;
  margin-right: 1rem;
  cursor: pointer;
}

.active-sort {
  color: black;
  border-bottom: 2px solid #ed2793;
  position: relative;
  margin-bottom: 1rem;
}

.active-sort:before {
  content: "";
  position: absolute;
  left: 40%;
  bottom: -10px;
  border-style: solid;
  border-width: 10px 10px 0px 10px;
  border-color: #ed2793 transparent #ed2793 transparent;
}

.movie-container {
  position: relative;
  padding-left: 5%;
  cursor: pointer;
}

.movie-img {
  height: 350px;
  max-height: 350px;
}

.movie-overlay {
  position: absolute;
  margin-left: 5%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 85%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #ed279366;
}

.movie-container:hover .movie-overlay {
  opacity: 1;
}

.movie-types {
  padding-left: 10px;
  list-style: none;
}

.movie-types li {
  margin-bottom: 5px;
}

.movie-types img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.movie-detail {
  border: none;
  border-radius: 5px;
  width: 90%;
  position: absolute;
  bottom: 20px;
  left: 5%;
  background-color: white;
  color: black;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.movie-detail:hover {
  background-color: black;
  color: white;
}

.movie-score {
  position: absolute;
  bottom: 50%;
  left: 40%;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.movie-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px;
}

.movie-filter {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid black;
}

.movie-filter:focus {
  box-shadow: none;
  border-color: black;
}

.filter-head {
  font-size: 20px;
  font-size: 400;
}
.format-type {
  border: 1px solid #dedede;
  width: 45%;
  text-align: center;
  font-size: 16px;
  padding: 5px 0;
  cursor: pointer;
}

.choice-format {
  border-bottom: 2px solid black;
  padding: 0 1rem 1rem 1rem;
}
.active-format {
  border-color: #ed2793;
  position: relative;
  padding: 0;
  padding-right: 1rem;
}

.active-format::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  right: 0;
  background-image: url("./assets/images/check.png");
  background-color: #ed2793;
  background-repeat: no-repeat;
  background-position: center;
}

.mt-03 {
  margin-top: 0.3rem;
}

.btn-filter:focus {
  border: none;
  box-shadow: none;
}

.btn-filter:active {
  border: none;
  box-shadow: none;
}

.btn-filter:hover {
  background-color: #ed2793;
  border: 1px solid #ed2793;
}

.btn-clear-filter {
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}

.footer {
  border-top: 1px solid #dedede;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.social-links a {
  text-decoration: none;
}

.social-links .fa-brands {
  border: 1px solid #71717166;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-right: 10px;
  color: #717171;
}

.social-links .fa-brands:hover {
  border: 1px solid black;
  color: black;
}

.useful-links {
  list-style: none;
}

.useful-link-a {
  text-decoration: none;
  color: #717171;
}

.useful-link-a:hover {
  color: black;
}

.copyright {
  font-size: 12px;
  margin-top: 3rem;
}
